:root {
    --grisclair: #ebebec;
    --grismoyen: rgba(105, 108, 113, 1);
    --noir: rgba(40, 45, 52, 1);
    --bleufash: rgba(30, 144, 255, 1);
    --bleufonce: rgba(0, 114, 255, 0.15);

}





body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* La page prend toute la hauteur de la vue */
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--grisclair); /* Optionnel : couleur d'arrière-plan */
}

.title{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(2rem, 2.5vw + 1rem, 6rem);
    font-weight: 800;
    line-height: 1.2;

    color: var(--noir);

    text-align: center;
    letter-spacing: -0.025em;
    margin-left: 1em;
    margin-right: 1em;
}

.job{
    display: inline-block;
    color: var(--bleufash);
    background-color: var(--bleufonce);
    padding: 0.1em 0.2em 0.1em 0.2em;
    border-radius: 0.2em;
}

.subtitle{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(1rem, 2.5vw + 0.1rem, 1.25rem);
    line-height: 1.2;

    color: var(--grismoyen);

    text-align: center;
    letter-spacing: -0.025em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
}

.divButton{
    margin-top: 2.5em;
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.buttonRS{
    padding: 5px 30px 5px 30px;
    border: var(--grismoyen) solid 1px;
    border-radius: 8px;
    color: var(--grismoyen);
    background-color: white;
}

.buttonRS:hover{
    background-color: rgba(202, 203, 205, 0.5);
    color: var(--grismoyen) ;
}

.divButton a{
    text-decoration: none;
}

.ball {
    position: absolute;
    border-radius: 50%;
    background-color: var(--bleufash); /* Couleur de la boule */
    opacity: 0.6; /* Opacité de la boule */
}